@layer components {
  input,
  textarea {
    @apply
    border
    shadow-inner
    border-gray-300
    appearance-none
    w-full
    p-3
    mb-4
    rounded-md
    duration-200
    transition-all
    focus:border-primary
    focus:outline-none
    focus:ring-4
    focus:ring-primary-200
    focus:ring-opacity-80
    ;

  }

  label {
    @apply
    block
    relative
    mb-2
    font-bold
    text-gray-700
    ;
  }
}

.hint {
  @apply
  inline-block
  text-xs
  cursor-pointer
  italic
  mb-6
  ;
}
