---
layout: default
---
<header class="relative">
    <div class="max-w-4xl mx-auto px-6">
        <div class="mx-auto mb-6 max-w-[100%]">{% image "src/assets/img/paints/"+paint.title+".jpg", "Statistique de mes oeuvre sur "+paint.title %}</div>
        <h1 class="text-center text-xl md:text-2xl font-bold leading-tight text-white mt-0 mb-3">{{ paint.title }}</h1>
    </div>
</header>
