---
layout: default
---

<h1 class="text-4xl mb-6 text-left">Titre : {{ paint.title }}</h1>
<div class="grid grid-cols-2 md:grid-cols-4 gap-6 mb-6 text-left">
    <div>
        <div class="opacity-60">Année</div>
        <strong>{{ paint.year }}</strong>
    </div>
    <div>
        <div class="opacity-60">H × L (cm)</div>
        <strong>{{ paint.size }}</strong></div>
    <div>
        <div class="opacity-60">Prix (€)</div>
        <strong>{{ paint.price }}</strong></div>
    <div>
        <div class="opacity-60">Disponible ?</div>
        {% if paint.availability == "TRUE" %}
            <strong>Oui</strong>
        {% else %}
            <strong class="text-[#ff6a86]">Non</strong>
        {% endif %}
    </div>
</div>

<a href="{{ "../../assets/img/paints/"+paint.title+".jpg" | url }}" class="mx-auto block w-full">{% image "src/assets/img/paints/"+paint.title+".jpg", "Tableau contemporain "+paint.title %}</a>