---
layout: default
---
<div class="mt-6 grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 object-center">
    {% for item in paints %}
        <a href="paint/{{ item.year }}-{{ item.title | slug }}/" class="relative w-full flex flex-col justify-center items-center hover:scale-[1.02] {{ item.title | slug }}">
            {% image "src/assets/img/paints/"+item.title+".jpg", "Statistique de mes oeuvre sur "+item.title %}
            <h2 class="absolute top-0 right-0 text-sm m-0 p-3 uppercase">{{ item.title | slug }}</h2>
        </a>
    {% endfor %}
</div>