---
layout: default
title: Mentions légales
---
<div class="text-center">
    <h1 class="py-6 m-0">{{ title }}</h1>
</div>
<div class="flex flex-col w-full md:w-2/3 justify-center mx-auto my-12 bg-white shadow-xl rounded p-6">
    <h2 class="text-3xl mb-6" id="informations-générales">Informations générales</h2>
    <p>Editeur :</p>
    <p>ERIGERON SAS au capital de 8000 euros<br> RCS Paris 889698817<br> 116 rue du Chemin Vert<br> 75011 Paris<br> FRANCE</p>
    <h3 class="text-2xl mt-6" id="charte-éditoriale">Charte éditoriale</h3>
    <h4 class="text-lg mt-6" id="objectifs">Objectifs</h4>
    <ol>
        <li>Proposer un service de dépôt de protection d’oeuvre musicale</li>
        <li>Proposer une interface permettant aux ayants droits de suivre les statistiques de diffusion</li>
    </ol>
    <h4 class="text-lg mt-6" id="public-cible">Public cible</h4>
    <p>Ce site se destine principalement aux professionnels de la musique (Auteur, compositeurs, interprètes, etc.).</p>
    <h4 class="text-lg mt-6" id="services">Services</h4>
    <p>Les services présentés sont des outils, services et conseils liés au dépôt, la protection et le suivi statistique de la diffusion d’oeuvres musicales.</p>
    <h4 class="text-lg mt-6" id="contenus">Contenus</h4>
    <p>Directeur de la publication et Responsable éditorial : Rodolphe HÉRAUD<br> Adresse e-mail : rodolphe@rightsnow.fr</p>
    <p>Comité rédactionnel : Rodolphe HÉRAUD - Rémi AGOSTINI</p>
    <h3 class="text-2xl mt-6" id="traitement-des-données-personnelles">Traitement des données personnelles</h3>
    <p>L’utilisateur dispose, notamment, d’un droit d’accès, de rectification ou d’opposition sur les données personnelles le concernant qu’il peut exercer auprès du webmaster du responsable du traitement de RightsNow!.</p>
    <h3 class="text-2xl mt-6" id="traitement-des-liens-et-rétroliens">Traitement des liens et rétroliens</h3>
    <p>Les liens présents sur le site peuvent orienter le lecteur sur des sites extérieurs dont le contenu ne peut engager la responsabilité de la rédaction du site.</p>
    <p>La mise en place de liens vers le site Internet du service RigthsNow! n’est pas soumise à un accord préalable. Il est seulement demandé d’indiquer explicitement la mention : RigthsNow! - La SACEM simplifiée. Les liens profonds sont toutefois à privilégier. Sont exclus de cette autorisation, les sites et tout support à caractère polémique, pornographique ou xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.</p>
    <h3 class="text-2xl mt-6" id="copyright--droits-dutilisation">Copyright / Droits d’utilisation</h3>
    <p>L’ensemble des informations présentes sur ce site peut être téléchargé, reproduit, imprimé sous réserve de :</p>
    <ul>
        <li>n’utiliser de telles informations qu’à des fins personnelles et en aucune manière à des fins commerciales ;</li>
        <li>ne pas modifier de telles informations ;</li>
        <li>reproduire sur toutes copies la mention des droits d’auteur (“le copyright”) de ERIGERON. Toute autre utilisation non expressément autorisée est strictement interdite sans autorisation préalable et écrite de ERIGERON.</li>
    </ul>
    <p>Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la responsabilité civile et pénale du contrefacteur.</p>
    <h3 class="text-2xl mt-6" id="responsabilités">Responsabilités</h3>
    <p>L’ensemble des informations accessibles via ce site sont fournies en l’état.</p>
    <p>ERIGERON ne donne aucune garantie, explicite ou implicite, et n’assume aucune responsabilité relative à l’utilisation de ces informations.</p>
    <p>ERIGERON n’est pas responsable ni de l’exactitude, ni des erreurs, ni des omissions contenues sur ce site.</p>
    <p>ERIGERON se réserve le droit de modifier à tout moment les présentes notamment en actualisant ce site.</p>
    <p>ERIGERON ne pourra être responsable pour quel que dommage que ce soit tant direct qu’indirect, résultant d’une information contenue sur ce site.</p>
    <p>L’utilisateur s’engage à ne transmettre sur ce site aucune information pouvant entraîner une responsabilité civile ou pénale et s’engage à ce titre à ne pas divulguer via ce site des informations illégales, contraires à l’ordre public ou diffamatoires.</p>
    <h3 class="text-2xl mt-6" id="crédits---hébergement">Crédits - Hébergement</h3>
    <p>Ce site est hébergé par OVH<br> SAS au capital de 10 000 000 euros<br> RCS Roubaix – Tourcoing B 424761419<br> 2 rue Kellermann<br> 59100 Roubaix<br> FRANCE</p>
</div>
