---
layout: paint
eleventyComputed:
    title: "Tableau : {{ paint.title }}"
pagination:
    data: paints
    size: 1
    alias: paint
permalink: "paint/{{ paint.year }}-{{ paint.title | slug }}/"
---
