<header id="header" class="p-5 z-50 sticky w-full top-0 transition-all transform ease-in-out duration-500 bg-background bg-opacity-70 backdrop-filter backdrop-blur-xl backdrop-saturate-200 flex justify-between items-center">
    <a title="{{ site.title }}" href="{{ '/' | url }}" class="w-72">
      {% include "src/assets/img/logo.svg" %}
    </a>
    <div class="flex justify-center space-x-3 items-center uppercase text-lg font-bold">
      <a href="/" class="">Mon travail</a>
      <span>&middot;</span>
      <a href="/insitu" class="">En situation</a>
    </div>
</header>
